* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app .app-header {
  background-color: #f2f2f2;
  padding: 2px;
}
#app .app-header .app-header-coupon {
  height: 50px;
  width: 100%;
}
#app .app-header .app-header-coupon img {
  height: 100%;
  width: 100%;
}
